In [2]:
import numpy as np
import pandas as pd
import os

In [4]:
os.chdir('train_files')

In [5]:
sp = pd.read_csv('stock_prices.csv')

In [7]:
sp.head(3)

,RowId,Date,SecuritiesCode,Open,High,Low,Close,Volume,AdjustmentFactor,ExpectedDividend,SupervisionFlag,Target
0,20170104_1301,2017-01-04,1301,2734.0,2755.0,2730.0,2742.0,31400,1.0,NaN,False,0.000730
1,20170104_1332,2017-01-04,1332,568.0,576.0,563.0,571.0,2798500,1.0,NaN,False,0.012324
2,20170104_1333,2017-01-04,1333,3150.0,3210.0,3140.0,3210.0,270800,1.0,NaN,False,0.006154

In [8]:
sp['Diff'] = sp['Close'] - sp['Open']

In [9]:
sp['Return'] = sp['Diff']/sp['Open']

In [12]:
sp[['Return','Target']].head(100)

      Return    Target
0   0.002926  0.000730
1   0.005282  0.012324
2   0.019048  0.006154
3   0.026490  0.011053
4   0.018349  0.003026
..       ...       ...
95  0.028154 -0.005510
96  0.000000 -0.015353
97  0.019200 -0.018750
98  0.014881  0.002374
99  0.025830  0.016413

[100 rows x 2 columns]

In [14]:
sp[sp['SecuritiesCode']==1301].head(10)

,RowId,Date,SecuritiesCode,Open,High,Low,Close,Volume,AdjustmentFactor,ExpectedDividend,SupervisionFlag,Target,Diff,Return
0,20170104_1301,2017-01-04,1301,2734.0,2755.0,2730.0,2742.0,31400,1.0,NaN,False,0.000730,8.0,0.002926
1865,20170105_1301,2017-01-05,1301,2743.0,2747.0,2735.0,2738.0,17900,1.0,NaN,False,0.002920,-5.0,-0.001823
3730,20170106_1301,2017-01-06,1301,2734.0,2744.0,2720.0,2740.0,19900,1.0,NaN,False,-0.001092,6.0,0.002195
5595,20170110_1301,2017-01-10,1301,2745.0,2754.0,2735.0,2748.0,24200,1.0,NaN,False,-0.005100,3.0,0.001093
7460,20170111_1301,2017-01-11,1301,2748.0,2752.0,2737.0,2745.0,9300,1.0,NaN,False,-0.003295,-3.0,-0.001092
9325,20170112_1301,2017-01-12,1301,2745.0,2747.0,2703.0,2731.0,28700,1.0,NaN,False,-0.006613,-14.0,-0.005100
11190,20170113_1301,2017-01-13,1301,2707.0,2730.0,2707.0,2722.0,19400,1.0,NaN,False,-0.006657,15.0,0.005541
13055,20170116_1301,2017-01-16,1301,2725.0,2725.0,2696.0,2704.0,20100,1.0,NaN,False,0.002978,-21.0,-0.007706
14920,20170117_1301,2017-01-17,1301,2702.0,2704.0,2682.0,2686.0,18400,1.0,NaN,False,0.001856,-16.0,-0.005922
16785,20170118_1301,2017-01-18,1301,2689.0,2695.0,2681.0,2694.0,12100,1.0,NaN,False,0.014079,5.0,0.001859